.chatInput{
	padding: 0em 1em;
	outline: none;
	background-color: transparent;
	height: 60px;
	width: 100%;
	border: none;
	box-sizing: border-box;
	font-size: 1.2em;
	position: absolute;
    bottom: 0;
}
.viewBox{
	overflow: auto;
}
.container{
	overflow: hidden;
	position: absolute;
	top: 50%;
	height: 90%;
	width: 600px;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: -1px 1px 50px #252525;
	border-radius: 10px;
}
.message{
	padding: 1em;
	box-shadow: -1px 0.5px #00000066;
}
body{
	font-family: 'Montserrat', sans-serif;
	color: rgb(22, 22, 22);
	background: #6e5c5c;
	background-attachment: fixed;
}
.chatBox{
	display: flex;
    background: #f5f5f5;
    flex-flow: column;
    height: 100%;
}
.username{
	font-size: .8em;
}
.text{
	max-width: 600px;
    overflow-wrap: break-word;
}
.date{
	font-size: .7em;
    color: #00000069;
}