.inputBox{
	padding: 0em 1em;
	outline: none;
	background-color: transparent;
	height: 60px;
	width: 100%;
	border: none;
	box-sizing: border-box;
	font-size: 1.2em;
	position: absolute;
    bottom: 0;
}
.messageBox{
	overflow: auto;
	height: calc(100% - 60px);
}
.container{
    background: #f5f5f5;
    overflow: hidden;
    position: absolute;
    top: 50%;
    height: 90%;
    width: 800px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -1px 1px 50px #252525;
    border-radius: 10px;
}
.message{
	padding: 1em;
	border-bottom: .5px solid #00000066;
}
body{
	font-family: 'Montserrat', sans-serif;
	background-attachment: fixed;
}
.username{
	font-size: .8em;
}
.text{
	max-width: 600px;
    overflow-wrap: break-word;
}
.date{
	font-size: .7em;
    color: #00000069;
}
.inputBox{
	height: 60px;
}
.online{
	height: -webkit-fill-available;
    border-right: .5px solid #00000066;
    float: left;
    padding: 1em;
}
.user{
    padding: .5em 1em;
    border-radius: 15px;
    font-size: .7em;
    text-align: center;
    margin: .5em 0;
    box-shadow: -1px 1px 1px #252525;
}